.DS_Store
build
*.o
*.bc
operation_request.cc
query_builder.cc
pg-jsonapi*.so
pg-jsonapi.control
pg_jsonapi.xcodeproj/project.xcworkspace
pg_jsonapi.xcodeproj/xcuserdata/
pg_jsonapi.xcodeproj/xcshareddata/
